
html{
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    cursor: none;
    
    
}

p{
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}


body{
    padding: 0 5vw;
}

.header{
    height: 10vh;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;

    margin-bottom: 2rem;
}

.Logo{
    font-size: 3rem;
}

.flexWrapper{
    display: flex;

    position: relative;

    align-items: center;
  
}


.mainImg{
    min-width: 50vw;
    height: 80%;

}

.MainText.firstText{

    background-color: rgb(255, 255, 255);
    padding: 2rem;
    font-size: 2rem;



}

.MainText{
    width: 50%;
}



.textSmall {
    font-size: 1.5rem !important; 
}


.alignR{
    right: 25vw;
}





.PriceTitle{
    font-weight: bold;
}



.sliderBlock{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.slider{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.forImages{
    display: flex;
    gap: 2rem;
    width: fit-content;
    flex-wrap: wrap;
}



.titleWrap{
    margin: 2rem 0;
    padding-top: 1rem;
    border-top: 4px black solid;
}

.title{
   font-size: 2.5rem; 
   text-align: center;
   font-weight: bold;


}


.mockImg{
    height: 50%;
}

.HelloBlock{
    margin-bottom: 2rem;
}


.ProjPreview{
    display: flex;
    gap: 1rem;
}

.imgBlock{
    position: relative;

}

.ProjNumBlock{

    position: absolute;

    background-color: white;
    font-size: 2rem;
    font-weight: bold;

    padding: .5rem;
}


.Secondproj{
    flex-direction: row-reverse;
}

.secondNum{
    left: 1rem;
    top: 1rem;

}

.firstNum{
    right: 1rem;
    top: 1rem;

}

.Firstproj{
    margin-bottom: 5rem;
}
.HelloBlock{
    margin-bottom: 6rem;
}

.ProjTitle{
    font-size: 2rem;
    font-weight: bold;

}

.Previewimg{
    max-width: 50vw;
}

.SecondText{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.textBlock{
    max-width: 30vw;
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
}

.FirstTextBlock{
    display: flex;
    flex-direction: column;  
}


.ProjButton{
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.5rem;
}


.myWay{
    display: flex;
    flex-direction: row-reverse;
}


.inputBlock{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;

    position: relative;
    margin: 3rem 0;
}

input{
    height: 3rem;
    border: 3px solid black;
    width: 30vw;

}

.submitButton{
    background-color: black;
    color: white;
    width:20vw ;
}





.ProjWrap{
    display: flex;
    gap: 10vw;
}
.ProjectTitleBlock{
    display: flex;
    flex-direction: column;

}

.projSubtitle{
    max-width: 50vw;
    min-width: 20vw;
}

.ProjNumText{
    font-size: 2rem;
    font-weight: bold;
}

.PTitle{
    display: flex;
    gap: 5vw;
}

.projFull{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5vw;

    margin: 10vw 0;
}

.footerText{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
 
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
  }
  
  button {
    cursor: pointer;
    border: none;
    font-weight: 600;
  }
  
  .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }
  

  
  .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }
  
  .hidden {
    display: none;
  }



.follow-cursor {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateY(-50%) translateX(-50%); /* центрируем кружок */
    position: absolute; /* задаём абсолютное позиционирование, чтобы элемент не влиял на остальные элементы и его можно было бы позиционировать следом за курсором */
    z-index: 999; /* чтобы элемент был над остальными элементами */
    pointer-events: none; /* чтобы сквозь элемент можно было взаимодействовать с элементами, находящимися под ним */
    transition: width 0.64s, height 0.64s, border-radius 0.64s, background 0.64s;
  }
  
  /* Активный класс для кружка при наведении на ссылку */
  .follow-cursor_active {
    height: 40px;
    width: 40px;
    border-width: 2px;
    background: rgba(95, 95, 95, 0.32);
  }



 
 
  .slide {
    display: none;
  }

  .slide img{
    width: 300px;
    height: auto;
  }
  .mockImg {
    width:  auto !important;
    height: auto !important ;
  }
 
  
  .block {
    display: flex;
    object-fit: cover;
    gap: 2rem;


  }

@media screen and (width < 500px ) {
    html{
        font-size: 15px;
    }

    .header{
        justify-content: center;
    }
    .navLink{
        display: none;
    }

    .Logo{
        display: block;
    }

 

    .MainText{
       padding: 1rem;
       width: 100%;
    }
    .MainText.firstText{
       padding: 1rem;
       width: 100%;
    }

    .forImages{
    display: flex;
    gap: 2rem;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    }

    .sliderBlock{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    
    }

    .arrowBack, .arrowForward{
        transform: scale(.5);
    }

    .mainImg{
        height: 60vw;   
    }

    .flexWrapper{
        flex-direction: column;
    }
    input{
        width: 60vw;
    }


    .submitButton{
        width: 40vw;
    }

    .mockImg{
        
        width: 40vw;
    }

    .modal{
        
        flex-direction: column;
        justify-content: center;
        gap: 0.4rem;
        width: 80vw;
        padding: 1.3rem;
        min-height: 50vw;
        position: absolute;
        z-index: 2;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 15px;
    }
    
}


@media (max-width: 991.98px) {
    .follow-cursor {
      display: none;
    }
  }